*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


@font-face {
    font-family:Koulen-Regular;
    src: url(../Fonts/Koulen-Regular.ttf);
}

@font-face {
    font-family:Bebas Neue;
    src: url(../Fonts/BebasNeue-Regular.ttf);
}
body{
    background-image: url(../img/bk.jpg);
    background-size: cover;
}
/*------Barra de Navegacion-------*/
nav{
    max-width: 100%;
    margin:.5px;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
}
.Menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.Menu >li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.Menu > li:hover{
background-color: red;
}
.vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}
.Menu li:hover .vertical{
    display: block;
}
.vertical li:hover{
    background-color: black;
}
.vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}
/*-----------------------*/

#A{
    background-color: #000000;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 20px;
    
}

#A h2{
    font-family: Koulen-Regular;
}

#B{
    background-color: #000000;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 5px;
    color: #ffffff;
    font-family: Koulen-Regular;
}

#C{
    background-color: #000000;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 20px;
    
}
/*-------Footer----------*/
footer{
    width: 100%;
    position: bottom;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-image: url(../img/fb.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}
.icon:hover{
    background-color: #121212;
    filter: invert(1);
}
/*-----@media-------*/
@media screen and (max-width:800px){
    
    #A{
        font-size: 18px;
    }
     #B{
        font-size: 18px;
    }
    nav{
        font-size: 18px;
    }
}

@media screen and (max-width:600px){
    #A{
        font-size: 16px;
    }
     #B{
        font-size: 14px;
    }
       nav{
        font-size: 16px;
    }
}

@media screen and (max-width:500px){
    #A{
        font-size: 14px;
    }
     #B{
        font-size: 14px;
    }
       nav{
        font-size: 14px;
    }
}